<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Event_Planner"
        tools:targetApi="31">
        <activity
            android:name=".EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".FlowerThreeActivity"
            android:exported="false" />
        <activity
            android:name=".FlowerTwoActivity"
            android:exported="false" />
        <activity
            android:name=".FlowerOneActivity"
            android:exported="false" />
        <activity
            android:name=".DecorationThreeActivity"
            android:exported="false" />
        <activity
            android:name=".DecorationTwoActivity"
            android:exported="false" />
        <activity
            android:name=".DecorationOneActivity"
            android:exported="false" />
        <activity
            android:name=".VenueFourActivity"
            android:exported="false" />
        <activity
            android:name=".VenueThreeActivity"
            android:exported="false" />
        <activity
            android:name=".VenueTwoActivity"
            android:exported="false" />
        <activity
            android:name=".VenueOneActivity"
            android:exported="false" />
        <activity
            android:name=".DeleteAccountActivity"
            android:exported="false" />
        <activity
            android:name=".NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".AccountActivity"
            android:exported="false" />
        <activity
            android:name=".PrivacyActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:exported="true" />
        <activity
            android:name=".RegisterActivity"
            android:exported="true" />
    </application>

</manifest>